.navigation-section {
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 989px;
  border-radius: 30px;
  background-color: white;
  align-items: center;
  padding: 30px;
}
.hrLine {
  position: absolute;
  width: 212.5px;
  height: 0px;
  left: 45px;
  top: 132.5px;
  border: 1px solid #a1e0ff;
}
.LinkItem {
  text-decoration: none;
}
.websiteLogo {
  left: 6.61%;
  right: 87.86%;
  top: 8.98%;
  bottom: 88.06%;
}
.addUser-image {
  height: 20px;
  width: 20.000154495239258px;
  left: 89px;
  top: 203px;

  margin-left: 10px;

  background-color: white;
}
.weather-image {
  height: 18.73297119140625px;
  width: 19.981128692626953px;
  left: 88px;
  top: 324px;
  border-radius: 0px;
  margin-left: 10px;

  background: #ffffff;
}

.users-image {
  height: 19.99163818359375px;
  width: 17.570411682128906px;
  left: 89px;
  top: 263px;
  margin-left: 10px;
  background: #ffffff;
}
.AddUserTab {
  list-style: none;
  display: flex-start;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 225px;
  left: 68px;
  top: 183px;
  color: #a1e0ff;
}

.selectedAddUserTab {
  list-style: none;
  height: 60px;
  width: 225px;
  left: 68px;
  top: 183px;
  border-radius: 10px;
  display: flex-start;
  align-items: center;
  background: #a2e0ff;
  color: #ffffff;
}
.AddUserTabText {
  height: 21px;
  width: 74px;
  left: 123.5px;
  top: 202px;
  margin-left: 5px;
}

.usersTabText {
  list-style: none;
  height: 60px;
  width: 225px;
  left: 68px;
  top: 243px;
  margin-left: 5px;
  display: flex-start;
  align-items: center;

  font-family: Roboto;
}
.selectedUsersTab {
  list-style: none;
  height: 60px;
  width: 225px;
  left: 68px;
  top: 243px;
  border-radius: 10px;
  margin-left: 5px;
  display: flex-start;
  align-items: center;

  color: #ffffff;
  background: #a2e0ff;
}
.UsersTab {
  list-style: none;

  position: absolute;
  width: 225px;
  height: 60px;
  left: 45px;
  top: 260px;
  display: flex;
  color: #a2e0ff;
  border-radius: 10px;
}
.selectedWeatherTab {
  list-style: none;
  height: 60px;
  width: 225px;
  left: 68px;
  top: 302px;
  border-radius: 10px;
  display: flex-start;
  align-items: center;
  background: #a2e0ff;
  color: #ffffff;
}
.WeatherTab {
  list-style: none;
  height: 60px;
  width: 225px;
  left: 68px;
  top: 302px;
  display: flex-start;
  align-items: center;
  color: #a1e0ff;
}
.weatherTabText {
  height: 21px;
  width: 67px;
  left: 123.5px;
  top: 322px;
  margin-left: 5px;

  font-family: Roboto;
}
@media screen and (max-width: 768px) {
  .navigation-section {
    height: 75%;
  }
}
