* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row-container {
  display: flex;
  flex-direction: row;
  padding: 46px 36px 45px 28px;
  background: #e5e5e5;
}

.column-container {
  display: flex;
  flex-direction: column;
  padding-left: 46px;
}
